<div>
  <div><h1 class="title"> Burger Connoisseur</h1></div>
    <form action="/api/burger" method="POST">
       <input id="addburger" type="text" name="burger_name" id="" placeholder="Add Burger">
       <input type ="submit"  value="submit">
    </form>
    
  <div class="row justify-content-center"> 
    <div class="col-6 p-2">
       <ul class="list-group" id="burgertitle">
         <h3> Burgers Ordered </h3>
        {{#each burgers}}
        {{#unless devoured}}
        <li class="list-group-item"> 
          <p>{{burger_name}} <button class="devoured"  data-id={{id}}   >Devoured</button> 
            {{burger_name}} <button class="delete" data-id={{id}}> X </button> </p>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>

  </div>

</div>


<div class="row justify-content-center">
  <div class="col-6 p-2" >
      <ul class="list-group" id="burgertitle">
          <h3> Burgers Devoured </h3>
        {{#each burgers}}
        {{#if devoured}}
         <li class="list-group-item"> 
           <p>{{burger_name}} <button class="delete" data-id={{id}}> X </button>
         </li>
        {{/if}}
        {{/each}}
      </ul> 
    </div>
</div>

{{!-- 
    <form action="/api/burger" method="POST">
       <input id="addburger" type="text" name="burger_name" id="" placeholder="Add Burger">

       <input type ="submit"  value="submit">
    </form>
 --}}



